
:root {
    --titel-text-color: #212121;
    --primary-text-color: #757575;
    --accent-color: #2196F3;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-color);
}

ul {
    list-style: none;
}

/* header */

.site-nav {
    text-decoration: none;
    color: var(--titel-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.site-nav.current{
    color: var(--accent-color);
}

.site-nav:hover,
.site-nav:focus {
    color: var(--accent-color);
}

.logo {
    color: black;
}

.logo-first {
    color: var(--accent-color);
}

.logo,
.logo-first,
.logo-footer {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;

    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}


.link{
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.link,
.contacts {
    text-decoration: none;
}

.link:hover,
.contacts:hover,
.link:focus,
.contacts:focus {
    color: var(--accent-color);
}

/* main */

.page{
    color: var(--primary-text-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.titel{
    color: var(--titel-text-color);
}

.specifics {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}

.main-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.names {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.profesion {
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.hero{
    background-color: #2F303A;
}

.title-hero{
    text-transform: uppercase;
    color: #fff;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
}

.button{
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
}

.button:hover,
.button:focus{
    color: #fff;
    background-color: var(--accent-color);
    border: 1px solid white; 
    cursor: pointer;
}


.team{
    background-color: #F5F4FA;
}
/* footer */

.logo-footer{
    color: #fff;
}

.foot{
    background-color: #2F303A;
}

.address{
    color: #fff;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.contacts{
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/* ---------portfolio---------- */

.filter{
    font-family: 'Roboto', sans-serif;
    color: #212121;
    background-color: #F5F4FA;
    border: none;
    border-radius: 8px;
    transition-duration: 0.2s;
    float: left;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;

    cursor: pointer;
}

.filter:hover,
.filter:focus{
    color: #fff;
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.product{
    color: var(--titel-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
}

.description{
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}