
:root {
    --titel-text-color: #212121;
    --primary-text-color: #757575;
    --accent-color: #2196F3;
}

ul {
    list-style: none;
}

/* header */

.site-nav {
    color: var(--titel-text-color);
}

.site-nav.current{
    color: var(--accent-color);
}

.site-nav:hover,
.site-nav:focus {
    color: var(--accent-color);
}

.logo {
    color: black;
}

.logo-first {
    color: var(--accent-color);
}

.link-mail{
    color: var(--accent-color);
}

.link-tel{
    color: var(--primary-text-color);
}

/* main */

.page{
    color: var(--primary-text-color);
}

.titel{
    color: var(--titel-text-color);
}

.hero{
    background-color: #2F303A;
}

.title-hero{
    color: #fff;
}

.button{
    color: #fff;
    background-color: var(--accent-color);
}

.button:hover,
.button:focus{
    color: #fff;
    background-color: var(--accent-color);
    border: 1px solid white; 
    cursor: pointer;
}

.preference{
    background-color: #F5F5F5;
}

.team{
    background-color: #F5F4FA;
}
/* footer */

.logo-footer{
    color: #fff;
}

.foot{
    background-color: #2F303A;
}

.address{
    color: #fff;
}

.contacts{
    color: var(--primary-text-color);
}

/* ---------portfolio---------- */

.filter{
    color: #212121;
    background-color: #F5F4FA;
    border: none;
    border-radius: 8px;
    transition-duration: 0.2s;
    float: left;
    font-size: 16px;
    font-weight: 500;
    height: 38px;
    left: 512px;
    top: 174px;
}

.filter:hover,
.filter:focus{
    color: #fff;
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.product{
    color: var(--titel-text-color);
}

.description{
    color: var(--primary-text-color);
}